// you can change config here
$colors: #c0392b, #d35400, #f39c12, #27ae60, #16a085, #2980b9, #8e44ad, #2c3e50,
  #7f8c8d !default;
  // you can change colors here
$theme-color: #0078D4;
$theme-colors: #27ae60 #805dcd #fcfc21 #cb6ad4;
